html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(145deg, #000000, #0b111f, #0f1520);
  color: #e0e0e0;
  padding-bottom: 1000px;
}
a {
  text-decoration: none;
  color: white;
  transition: color 0.3 ease;
}
a:hover {
  color: #00bfff;
}
#strings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  display: block;
}
.display-div {
  min-height: 100%;
  width: 70%;
  margin: auto;
}
.header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.author {
  font-size: 20px;
}
.top-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 43%;
  min-width: 10%;
}
.top-right p {
  margin-right: 30px;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.top-right p:hover {
  color: #00bfff;
}
.get-in-touch-button {
  font-weight: bold;
  padding: 18px 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  transition: box-shadow 0.25s;
}
.get-in-touch-button:hover {
  box-shadow: inset 2px 2px 10px rgba(3, 3, 3, 0.5);
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-top: 50px;
}
.introduction {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}
span {
  color: #a259ff;
}
.brief-review {
  margin-top: 0;
  font-size: 18px;
  font-family: roboto;
  text-align: justify;
  margin-bottom: 30px;
}
.language-competence {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
  color: #a259ff;
}
.Languages-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  transition: color 0.25s;
}
li:hover {
  color: #00bfff;
}

.languages-container {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.languages-container:hover {
  box-shadow: 1px 1px 10px rgba(253, 253, 253, 1);
}
.language-img {
  transition: transform 0.3s ease;
}
.languages-container:hover .language-img {
  transform: scale(1.02);
}

.see-more-button {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #0a556e;
  border: none;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  right: 95px;
  transition: all 0.3s ease;
}
.see-more-button:hover {
  transform: scale(1.1);
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}
